.catalog {
    padding-bottom: 60px;
    &__tabs {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 46px;
        padding-left: 0;
        width: 643px;
        list-style-type: none;
    }
    &__tab {
        width: 31%;
        height: 52px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background: $main-color;
            color: #FFFFFF;
            border: none;
        }
    }
    &__content {
        margin-top: 57px;
        display: none;
        &_active {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &-item {
        position: relative;
        padding: 20px;
        width: 303px;
        min-height: 442px;
        margin-bottom: 19px;
        border: 2px solid #E8E8E8;
        overflow: hidden;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 15px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            display: block;
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            color: $main-color;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin: 0 auto;
            margin-top: 17px;
        }
        &__footer {
            margin-top: 19px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            width: 50%;
            margin-left: 20px;
            margin-bottom: 0;
            padding-right: 20px;
            padding-left: 19px;
            transform: translateX(0%);
            transition: 0.5s all;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0;
            }
            li {
                position: relative;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                margin-bottom: 10px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    background-color: $main-color;
                    top: 7px;
                    left: -18px;
                }
            }
        }
        &__back {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 15px));
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: $main-color;
            &:hover {
                color: $main-color;
            }
        }
    }
}