.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        width: 460px;
        height: 230px;
        padding: 30px 0;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: $main-color;
    }
    &__address {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        display: block;
        margin-top: 36px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            color: #FFFFFF;
        }
    }
    &__social {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 212px;
        margin-top: 36px;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 52px;
            height: 52px;
            border: #FFFFFF solid;
            border-radius: 100%;
            transition: 0.3s all;
            img {
                height: 50%;
            }
            &:hover {
                background: #646464;
                border: none;
            }
        }
    }
}